@model tacotron2_management.Models.TblAudio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblAudio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TblTranscriptId" class="control-label"></label>
                <select asp-for="TblTranscriptId" class="form-control" asp-items="ViewBag.TblTranscriptId"></select>
                <span asp-validation-for="TblTranscriptId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AudioName" class="control-label"></label>
                <input asp-for="AudioName" class="form-control" />
                <span asp-validation-for="AudioName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsTrained" /> @Html.DisplayNameFor(model => model.IsTrained)
                </label>
            </div>
            @* <div class="form-group">
                <label asp-for="MosScore" class="control-label"></label>
                <input asp-for="MosScore" class="form-control" />
                <span asp-validation-for="MosScore" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
