@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/styles.css"> <!-- Replace 'path/to/your/styles.css' with the actual path to your CSS file -->
</head>
<body>
    <div class="text-center" style="background-color: #ffffff;">
        <h1 class="display-4">Quản lý Audio & Transcript và Model bài toán Text to speech</h1>
    </div>
</body>
</html>